@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x {
  color: red;
}

.o {
  color: blue;
}

.field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 270px;
  height: 270px;
}

.field-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  width: 90px;
  height: 90px;
}

.field-item:first-child {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.field-item:nth-child(2) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.field-item:nth-child(3) {
  border-bottom: 1px solid black;
}

.field-item:nth-child(4) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.field-item:nth-child(5) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.field-item:nth-child(6) {
  border-bottom: 1px solid black;
}

.field-item:nth-child(7) {
  border-right: 1px solid black;
}

.field-item:nth-child(8) {
  border-right: 1px solid black;
}

.success {
  color: white;
  background-color: green;
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  height: 30px;
}

.tie {
  color: white;
  background-color: yellowgreen;
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  height: 30px;
}